.container {
  padding-top: 100px;
  margin: auto;
  width: 80vw;
  height: 100%;
}

.cards-container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  max-width: 1000px;
  flex-wrap: wrap;
}

.button {
  /* margin-top: 1px; */
  margin-right: 20px;
  position: absolute;
  padding: 10px 15px;
  top: 100px;
  right: 15vw;
  position: fixed;
  font-size: 0.9em;
  background-color: #2175f3;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
