.container {
  padding-top: 150px;
  margin: auto;
  width: 90vw;
  height: 100%;
  border: 1px solid black;
}

.nav-items {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  text-decoration: none;
  padding: 0 20px;
}
