.container {
  padding-top: 90px;
  margin: auto;
  width: 80vw;
  height: 100%;
  max-width: 1200px;
  margin-bottom: 50px;
  min-width: 700px;

  scroll-behavior: smooth;
}

.data-render {
  padding: 50px 70px;
  border: none;
  border-radius: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 50px;
  font-weight: 500;
}

.restaurant-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.restaurant-media {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 45%;
}

.restaurant-image {
  width: 100%;
  height: 500px;
  min-height: 300px;
  border-radius: 30px 30px 0 0;
}

.creator {
  display: flex;
  flex-direction: row;
  padding: 20px 15px 10px 15px;
  align-items: center;
  justify-content: center;
}
.creator-image {
  /* display: inline-block; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  margin-left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.creator-text {
  display: flex;
  flex-direction: column;
}
.creator-name {
  font-size: 1em;
}
.creator-date {
  font-size: 0.8em;
}
.restaurant-text {
  display: flex;
  flex-direction: column;
  border: none;
  width: 55%;
  /* padding: 0 30px;
  margin-left: 40px; */
  border: none;
}
.reaction {
  display: flex;
  flex-direction: row;
  padding: 0 20px 15px 15px;
  align-items: center;
  justify-content: space-evenly;
}

.like,
.dislike,
.comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.counter {
  padding-left: 15px;
}

.button-like,
.button-dislike,
.button-comment {
  cursor: pointer;
}

.description {
  display: flex;
  flex-direction: column;
}

.type {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.price {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.location {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.logo {
  width: 40px;
}

.description-title,
.type-title,
.price-title,
.location-title {
  font-size: 1em;
  font-weight: 400;
  background-color: #2175f3;
  border-radius: 10px 10px 0 0;
  padding: 10px 30px;
  margin-left: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: white;
  display: flex;
  flex-direction: row;
}
.description-content,
.type-content,
.price-content,
.location-address {
  text-align: justify;
  text-justify: inter-word;
  border-radius: 0 0 10px 10px;
  padding: 10px 30px;
  margin-left: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.location-map {
  width: 100%;
  height: 250px;
  border: none;
  border-radius: 20px;
}

.edit,
.delete {
  padding: 8px 15px;
  margin: auto;
  color: white;
  border-radius: 5px;
  transition: background-color 0.5s ease-in-out;
  border: none;
}

.operation {
  padding-top: 20px;
  text-align: right;
}

.edit {
  background-color: #2175f3;
  margin-right: 10px;
}

.edit:hover {
  background-color: #104fad;
}
.delete {
  background-color: #f47174;
}

.delete:hover {
  background-color: #c55354;
}

/* FORM SECTION */

.title2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: 500;
}
.form {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 640px;
}

.input {
  padding: 12px 12px;
  border-radius: 10px;
  font-size: 0.8em;
  border: 1px solid;
  margin: 10px 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
}

input:focus::placeholder {
  color: transparent;
}

.submit {
  background-color: #2175f3;
  border: none;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  margin: 15px 2px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.submit-disabled {
  background-color: #d5dbe6;
  border: none;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  margin: 15px 2px;
  cursor: not-allowed;
  border-radius: 5px;
  width: 100%;
}

.submit-disabled:hover {
  cursor: not-allowed;
}

.invalid {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.error {
  font-size: 0.9em;
  text-align: center;
  background-color: #fddddd;
  padding: 10px 10px;
  color: #b40e0e;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  visibility: visible;
}

.errorHide {
  font-size: 0.9em;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

/* REVIEW SECTION */
.review-container {
  max-width: 640px;
  margin: auto;
}

.review {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto;
  max-width: 640px;
  position: relative;
}

.review-user {
  padding: 10px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-name {
  font-weight: 500;
}
.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.review-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  width: 450px;
  min-width: 400px;
}

.content-title {
  font-weight: 500;
  padding-bottom: 10px;
  text-align: left;
}
.content-reaction {
  align-self: center;
  margin: 0 10px;
}
.content-text {
  font-size: 0.9em;
}
.content-date {
  padding-top: 5px;
  font-size: 0.7em;
}

.reactionImg {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.774);
  padding: 15px;
  margin: 20px 0 0 20px;
  border: none;
  border-radius: 200px;
}

.more {
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  background: #d5dbe6;
  width: 150px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media only screen and (max-width: 1054px) {
  .data-render {
    min-width: 580px;
  }

  .review-container {
    width: 90vw;
    min-width: 300px;
    width: 600px;
  }
  .restaurant-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .restaurant-media {
    width: 100%;
    max-width: 500px;
  }

  .restaurant-text {
    width: 100%;
    max-width: 500px;
    padding: 30px 0 0 0;
  }

  .description-title,
  .type-title,
  .price-title,
  .location-title {
    margin-left: 0;
  }
  .description-content,
  .type-content,
  .price-content,
  .location-address {
    margin-left: 0;
  }

  .location-map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width: 100%; */
    height: 250px;
    /* max-width: 500px; */
    align-items: center;
  }

  .add-form {
    width: 90vw;
    min-width: 400px;
  }

  .review-container {
    width: 600px;
    /* width: 600px; */
    min-width: 400px;
    margin: auto;
  }

  .review {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding-top: 90px;
    width: 80vw;
    height: 100%;
    max-width: 1200px;
    margin-bottom: 50px;
    min-width: 290px;
    margin: auto;
    scroll-behavior: smooth;
    margin-bottom: 40px;
  }

  .data-render {
    min-width: 430px;
    padding: 50px 30px;
    margin: auto;
  }

  .review-container {
    width: 100vw;
    min-width: 200px;
    width: 300px;
  }
  .restaurant-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .restaurant-media {
    width: 100%;
    max-width: 500px;
  }

  .restaurant-text {
    width: 100%;
    max-width: 500px;
    padding: 30px 0 0 0;
  }

  .description-title,
  .type-title,
  .price-title,
  .location-title {
    margin-left: 0;
  }
  .description-content,
  .type-content,
  .price-content,
  .location-address {
    margin-left: 0;
  }

  .location-map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width: 100%; */
    height: 250px;
    /* max-width: 500px; */
    align-items: center;
  }

  .add-form {
    width: 90vw;
    min-width: 400px;
  }

  .review-container {
    width: 100%;
    /* width: 600px; */
    /* min-width: 400px; */
    margin: auto;
  }

  .review {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    align-items: center;
    justify-content: space-between;
  }

  .review-content {
    width: 100%;
    max-width: 50%;
    min-width: 50%;
  }
}
