.container {
  padding-top: 90px;
  margin: auto;
  width: 80vw;
  height: 100%;
  max-width: 1200px;
  margin-bottom: 50px;
  min-width: 500px;
}

.data-render {
  padding: 50px 70px;
  border: none;
  border-radius: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  min-width: 350px;
}

.title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 50px;
  font-weight: 500;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1000px;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  min-width: 350px;
}

.button {
  /* margin-top: 1px; */
  margin-right: 20px;
  position: absolute;
  padding: 10px 15px;
  top: 100px;
  right: 15vw;
  position: fixed;
  font-size: 0.9em;
  background-color: #2175f3;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@media only screen and (max-width: 1054px) {
  .data-render {
    padding: 50px auto;
  }
}
