.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 90vw;
  margin: auto;
  padding: 100px;
}

.text-container {
  width: 50vw;
  margin: auto;
  padding: 30px 50px;
}

.p1 {
  color: #e8630a;
  font-size: 1.2em;
  font-weight: 700;
}

.text {
  padding: 10px 0;
}

.headline {
  display: block;
  color: white;
  font-size: 60px;
  font-weight: 900;
  -webkit-text-stroke: 1px #2175f3;
}

.headline span,
p span {
  color: #2175f3;
  -webkit-text-stroke: 1px white;
}

.image-container {
  width: 45vw;
  /* border: 1px black solid; */
  margin: auto;
}

.image {
  /* border: 1px black solid; */
  width: 45vw;
}

.button {
  color: white;
  border: none;
  border-radius: 10px;
  background-color: #2175f3;
  padding: 10px 15px;
  transition: all 0.5s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
