.login-link {
  padding: 8px 15px;
  margin: auto;
  background-color: #2175f3;
  color: white;
  text-decoration: none;
  z-index: 1;
  border-radius: 5px;
  transition: background-color 0.5s ease-in-out;
}

.login-link:hover {
  color: white;
  background-color: #1e66d3;
}

.add-link {
  padding: 8px 15px;
  margin: auto;
  background-color: #2175f3;
  color: white;
  text-decoration: none;
  z-index: 1;
  border-radius: 5px;
  transition: background-color 0.5s ease-in-out;
}

.add-link:hover {
  color: white;
  background-color: #1e66d3;
}

.register-link {
  border: 1px solid #2175f3;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 5px;
  color: #2175f3;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.register-link:hover {
  color: white;
  background-color: #2175f3;
}

.logout-link {
  padding: 8px 15px;
  margin: auto;
  background-color: #2175f3;
  color: white;
  text-decoration: none;
  z-index: 1;
  border-radius: 5px;
  transition: background-color 0.5s ease-in-out;
}

.logout-link:hover {
  color: white;
  background-color: #1e66d3;
}

.register:hover .register-link {
  color: white;
}

@media only screen and (max-width: 991px) {
  .login {
    margin-bottom: 10px;
  }

  .login-link {
    padding: 8px 27px;
    margin-bottom: 50px;
    margin-left: 0;
    /* max-width: 100px; */
    text-align: center;
    width: 500px;
  }

  .add {
    margin-bottom: 10px;
  }

  .add-link {
    font-size: 1em;
    padding: 8px 14px;
    margin-bottom: 50px;
    margin-left: 0;
    /* max-width: 100px; */
    text-align: center;
    width: 500px;
  }

  .logout {
    margin-bottom: 10px;
  }

  .logout-link {
    padding: 8px 27px;
    margin-bottom: 50px;
    margin-left: 0;
    /* max-width: 100px; */
    text-align: center;
    width: 500px;
  }

  .register-link {
    margin-top: 50px;

    padding: 8px 15px;
    max-width: 100px;
    text-align: center;
  }
}
